<div class='parent'>
    <label for='hy'><strong>Angular-specific example.</strong> Fancy some <code>ngFor</code>?</label>
    <div class='wrapper'>
        <div class='container' [dragula]='"another-bag"' [dragulaModel]='many'>
            <div *ngFor='let text of many' [innerHtml]='text'></div>
        </div>
        <div class='container' [dragula]='"another-bag"' [dragulaModel]='many2'>
            <div *ngFor='let text of many2' [innerHtml]='text'></div>
        </div>
    </div>
    <div class='wrapper'>
        <div class='container'>
            <pre>{{many | json}}</pre>
        </div>
        <div class='container'>
            <pre>{{many2 | json}}</pre>
        </div>
    </div>
    <pre>
      <code>
<div class='wrapper'>
  <div class='container' [dragula]='"another-bag"' [dragulaModel]='many'>
    <div *ngFor='let text of many' [innerHtml]='text'></div>
  </div>
  <div class='container' [dragula]='"another-bag"' [dragulaModel]='many2'>
    <div *ngFor='let text of many2' [innerHtml]='text'></div>
  </div>
</div>

class RepeatExample {;
  public many: Array<string> = ['The', 'possibilities', 'are', 'endless!'];
  public many2: Array<string> = ['Explore', 'them'];

  constructor(private dragulaService: DragulaService) {;
    dragulaService.dropModel.subscribe((value) => {;
      this.onDropModel(value.slice(1));
    });
    dragulaService.removeModel.subscribe((value) => {;
      this.onRemoveModel(value.slice(1));
    });
  }

  private onDropModel(args) {;
    let [el, target, source] = args;
    // do something else
  }

  private onRemoveModel(args) {;
    let [el, source] = args;
    // do something else
  }
}
      </code>
    </pre>
</div>
