<div class='parent'>
    <label for='hy'>Copying stuff is common too, so we made it easy for you.</label>
    <div class='wrapper'>
        <div class='container' [dragula]='"fifth-bag"'>
            <div>When elements are copyable, they can't be sorted in their origin container</div>
            <div>Copying prevents original elements from being dragged. A copy gets created and <em>that</em> gets
                dragged instead
            </div>
            <div>Whenever that happens, a <code>cloned</code> event is raised</div>
        </div>
        <div class='container' [dragula]='"fifth-bag"'>
            <div>Note that the clones get destroyed if they're not dropped into another container</div>
            <div>You'll be dragging a copy, so when they're dropped into another container you'll see the duplication.
            </div>
        </div>
    </div>
    <pre>
      <code>
&lt;div [dragula]=&#039;&quot;fifth-bag&quot;&#039;&gt;&lt;/div&gt;
&lt;div [dragula]=&#039;&quot;fifth-bag&quot;&#039;&gt;&lt;/div&gt;

class VeryExample &#123;
  constructor(private dragulaService: DragulaService) &#123;
    dragulaService.setOptions('fifth-bag', &#123;
      copy: true
    });
  }
}
      </code>
    </pre>
</div>