<div class='parent'>
    <label for='hy'>Drag handles float your cruise?</label>
    <div class='wrapper'>
        <div class='container' dragula="HANDLES">
            <div><span class='handle'>+</span>Move me, but you can use the plus sign to drag me around.</div>
            <div><span class='handle'>+</span>Note that <code>handle</code> element in the <code>moves</code> handler is
                just the original event target.
            </div>
        </div>
        <div class='container' dragula="HANDLES">
            <div><span class='handle'>+</span>This might also be useful if you want multiple children of an element to
                be able to trigger a drag event.
            </div>
            <div><span class='handle'>+</span>You can also use the <code>moves</code> option to determine whether an
                element can be dragged at all from a container, <em>drag handle or not</em>.
            </div>
        </div>
    </div>
    <pre>
      <code>
&lt;div dragula=&quot;HANDLES&quot;&gt;&lt;/div&gt;
&lt;div dragula=&quot;HANDLES&quot;&gt;&lt;/div&gt;

class MuchExample &#123;
  constructor(private dragulaService: DragulaService) &#123;
    dragulaService.setOptions('HANDLES', &#123;
      moves: function (el, container, handle) &#123;
        return handle.className === 'handle';
      }
    });
  }
}
      </code>
    </pre>
    <div>There are a few similar mechanisms to determine whether an element can be dragged from a certain container <a
            href='https://github.com/bevacqua/dragula#optionsmoves'>(<code>moves</code>)</a>, whether an element can be
        dropped into a certain container at a certain position <a
                href='https://github.com/bevacqua/dragula#optionsaccepts'>(<code>accepts</code>)</a>, and whether an
        element is able to originate a drag event <a href='https://github.com/bevacqua/dragula#optionsinvalid'>(<code>invalid</code>)</a>.
    </div>
</div>
