<div class='parent'>
    <label for='hy'><strong>Angular-specific example.</strong> Fancy some <code>ngFor</code>?</label>
    <div class='wrapper'>
        <div class='container' [dragula]="MANY_ITEMS" [(dragulaModel)]='many'>
            <div *ngFor='let text of many' [innerHtml]='text'></div>
        </div>
        <div class='container' [dragula]="MANY_ITEMS" [(dragulaModel)]='many2'>
            <div *ngFor='let text of many2' [innerHtml]='text'></div>
        </div>
    </div>
    <div class='wrapper'>
        <div class='container'>
            <pre>{{many | json}}</pre>
        </div>
        <div class='container'>
            <pre>{{many2 | json}}</pre>
        </div>
    </div>
    <pre>
      <code>
&lt;div class='wrapper'&gt;
  &lt;div class='container' [dragula]='MANY_ITEMS' [(dragulaModel)]='many'&gt;
    &lt;div *ngFor='let text of many' [innerHtml]='text'&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class='container' [dragula]='MANY_ITEMS' [(dragulaModel)]='many2'&gt;
    &lt;div *ngFor='let text of many2' [innerHtml]='text'&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
<code>{{"export class RepeatExampleComponent {
  MANY_ITEMS = 'MANY_ITEMS';
  public many = ['The', 'possibilities', 'are', 'endless!'];
  public many2 = ['Explore', 'them'];

  public constructor(private dragulaService:DragulaService) {
    dragulaService.dropModel(this.MANY_ITEMS).subscribe(({ el, target, source, item }) => {
      console.log('dropModel:');
      console.log(el);
      console.log(target);
      console.log(source);
      console.log(item);
    });
    dragulaService.removeModel(this.MANY_ITEMS).subscribe(({ el, source, item }) => {
      console.log('removeModel:');
      console.log(el);
      console.log(source);
      console.log(item);
    });
  }

}

"}}</code>
    </pre>
</div>
